/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Prevent font size inflation */
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, p {
    margin: 0;
}

/* Make images easier to work with */
img {
    max-width: 100%;
    display: block;
}

/* COMPOSITION */
@font-face {
    font-family: "Red Hat Display";
    src: url("../fonts/Red_Hat_Display/RedHatDisplay-Medium.ttf");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Red Hat Display";
    src: url("../fonts/Red_Hat_Display/RedHatDisplay-Black.ttf");
    font-weight: 900;
    font-style: normal;
}

:root {
    font-family: Red Hat Display, sans-serif;

    --flow-space: 1rem;

    --clr-white-600: #FAFAFA;
    --clr-white-800: #FFFFFF;
    --clr-blue-100: #28283D;
    --clr-blue-400: #71C0D4;
    --clr-blue-600: #8FE3F9;
    --clr-blue-800: #87879D;
    --clr-purple-400: #855FB1;
    --clr-purple-600: #B18BDD;
    --clr-purple-800: #D9B8FF;
    --clr-teal-400: #4D96A9;

    /* BUTTONS */
}

body {
    min-height: 100vh;
}

.content {
    width: var(--content-width);
    /*height: var(--content-height);*/
}

header {
    width: 100%;
    height: var(--header-height);
}

.hero {
    display: grid;
}

/* UTILITIES */
.flow > * + * {
    margin-top: var(--flow-space);
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bg-primary {
    background-color: var(--clr-white-600);
}

/* BLOCK */
.header__logo {
    width: 119px;
    height: 28px;
}

.left-img-container, .right-img-container {
    position: relative;
    overflow: clip;
}

.hero__image-left, .hero__image-right {
    position: absolute;
}

.hero__image-left {
    right: var(--img-shift-length);
}

.hero__image-right {
    left: var(--img-shift-length);
}

.hero-content {
    text-align: center;
    --flow-space: 32px;
}

.hero-content__title {
    color: var(--clr-blue-100);
    font-size: var(--font-size-h1);
    line-height: var(--line-height-h1);
    font-weight: 900;
}

.hero-content__paragraph {
    color: var(--clr-blue-800);
    font-size: var(--hero-font-size-p);
    line-height: var(--hero-line-height-p);
    font-weight: 500;
}

.hero-content-buttons {
    gap: 16px;
}

button {
    color: var(--clr-white-800);
    height: 58px;
    border: none;
    border-radius: 29px;
    flex-shrink: 0;
    text-align: center;
    font-family: "Red Hat Display", sans-serif;
    font-size: 16px;
    font-weight: 900;
    line-height: 26px;
    transition: background-color 0.2s ease;
}

.hero-content__btn-download {
    width: 193px;
    background-color: var(--clr-teal-400);
}

.hero-content__btn-description {
    width: 139px;
    background-color: var(--clr-purple-400);
}

.btn-download__version {
    display: inline-block;
    color: var(--clr-blue-600);
    margin-left: 4px;
}

.spacer__one {
    margin-top: var(--spacer-one-top);
}

.features {
    flex-direction: column;
    margin-top: var(--features-margin-top);
    padding: var(--features-padding);
}

.features-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(151px, 1fr));
    gap: var(--features-grid-gap);
    grid-auto-flow: var(--features-grid-flow);
}

.features-grid__image {
    border-radius: 8px;
}

.features-text {
    gap: var(--features-text-gap);
    margin-top: var(--features-text-margin-top);
    padding: var(--features-text-padding);
}

.features-text__subtitle {
    color: var(--clr-teal-400);
    text-align: center;
    font-size: 16px;
    font-weight: 900;
    line-height: 26px;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.features-text-inner-wrapper {
    --flow-space: 32px;
}

.features-text__title {
    color: var(--clr-blue-100);
    text-align: center;
    font-weight: 900;
    font-size: var(--features-text-font-size-h2);
    line-height: var(--features-text-line-height-h2);
}

.features-text__paragraph {
    color: var(--clr-blue-800);
    text-align: center;
    font-size: var(--features-text-font-size-p);
    font-weight: 500;
    line-height: 26px;
}

footer {
    margin-top: var(--footer-margin-top);
    background-image: var(--footer-bg-image);
    background-repeat: no-repeat;
    height: var(--footer-height);
    padding: var(--footer-padding);
    gap: var(--footer-gap);
}

.footer-text__title {
    color: var(--clr-white-600);
    font-weight: 900;
    font-size: var(--footer-text-font-size-h2);
    line-height: var(--footer-text-line-height-h2);
}

.footer-text__paragraph {
    color: var(--clr-white-600);
    font-weight: 500;
    font-size: var(--footer-text-font-size-p);
    line-height: var(--footer-text-line-height-p);
}

.footer__btn-download {
    width: 193px;
    background-color: var(--clr-purple-400);
}

/* EXCEPTIONS */
button:hover {
    cursor: pointer;
}

.hero-content__btn-download:hover {
    background-color: var(--clr-blue-400);
}

.hero-content__btn-description:hover, .footer__btn-download:hover {
    background-color: var(--clr-purple-600);
}

.footer__btn-download > .btn-download__version {
    color: var(--clr-purple-800);
}

/* DESKTOP VERSION*/
@media only screen and (width >= 1366px) {
    :root {
        /* main */
        --content-width: 1440px;
        --content-height: 1895px;

        /* header */
        --header-height: 169px;

        /* hero */
        --font-size-h1: 64px;
        --line-height-h1: 64px;
        --hero-font-size-p: 18px;
        --hero-line-height-p: 26px;
        --img-shift-length: 32px;

        /* hero-content */
        --hero-content-width: 540px;
        --hero-content-gap: calc(88px - var(--img-shift-length));

        /* spacer I */
        --spacer-one-top: 110px;

        /* features */
        --features-margin-top: 64px;
        --features-padding: 0 165px;
        --features-text-gap: 16px;
        --features-text-margin-top: 80px;
        --features-text-padding: 0 285px;
        --features-text-font-size-h2: 40px;
        --features-text-line-height-h2: 44px;
        --features-text-font-size-p: 18px;
        --features-grid-gap: 30px;
        --features-grid-flow: column;

        /* footer */
        --footer-bg-image: url("../images/desktop/image-footer.png");
        --footer-height: 308px;
        --footer-padding: 165px;
        --footer-margin-top: 184px;
        --footer-gap: 92px;
        --footer-text-font-size-h2: 40px;
        --footer-text-line-height-h2: 44px;
        --footer-text-font-size-p: 18px;
        --footer-text-line-height-p: 26px;
    }

    .hero {
        grid-template: "img-left content img-right" 358px /
                       1fr minmax(min-content, var(--hero-content-width)) 1fr;
        gap: var(--hero-content-gap);
    }

    .hero__image-left {
        top: 0;
        grid-area: img-left;
    }

    .hero-content {
        padding-top: 47px;
        grid-area: content;
    }

    .hero-content-text {
        --flow-space: 34px;
    }

    .hero__image-right {
        bottom: 0;
        grid-area: img-right;
    }

    .features-text__title {
        padding: 0 47px;
    }

    .footer-text-inner-wrapper {
        column-gap: 125px;
    }

    .footer-text__title {
        min-width: 350px;
    }
}

/* TABLET VERSION */
@media only screen and (768px < width < 1366px) {
    :root {
        /* main */
        --content-width: 768px;
        --content-height: 2128px;

        /* header */
        --header-height: 140px;

        /* hero */
        --font-size-h1: 48px;
        --line-height-h1: 48px;
        --hero-font-size-p: 16px;
        --hero-line-height-p: 26px;
        --img-shift-length: 26px;

        /* hero-content */
        --hero-content-width: 1fr;

        /* spacer I */
        --spacer-one-top: 80px;

        /* features */
        --features-margin-top: 48px;
        --features-padding: 0 40px;
        --features-text-gap: 16px;
        --features-text-margin-top: 48px;
        --features-text-padding: 0 58px;
        --features-text-font-size-h2: 40px;
        --features-text-line-height-h2: 44px;
        --features-text-font-size-p: 16px;
        --features-grid-gap: 11px;
        --features-grid-flow: column;
    }

    .hero {
        grid-template: "img-left img-right" 303px
                       "content content"    1fr /
                       1fr 1fr;
        row-gap: 72px;
    }

    .hero__image-left {
        grid-area: img-left;
    }

    .hero-content {
        grid-area: content;
        padding: 0 155px;
    }

    .hero-content-text {
        --flow-space: 24px;
    }

    .hero__image-right {
        grid-area: img-right;
    }

    .features-text__title {
        padding: 0 63px;
    }
}

/* MOBILE VERSION */
@media only screen and (width <= 768px) {
    :root {
        /* main */
        --content-width: 375px;
        --content-height: 2215px;

        /* header */
        --header-height: 130px;

        /* hero */
        --font-size-h1: 48px;
        --line-height-h1: 44px;
        --hero-font-size-p: 16px;
        --hero-line-height-p: 26px;
        --img-shift-length: 20px;

        /* hero-content */
        --hero-content-width: 1fr;

        /* spacer I */
        --spacer-one-top: 64px;

        /* features */
        --features-margin-top: 64px;
        --features-padding: 0 24px;
        --features-text-gap: 24px;
        --features-text-margin-top: 64px;
        --features-text-padding: 0;
        --features-text-font-size-h2: 32px;
        --features-text-line-height-h2: 36px;
        --features-text-font-size-p: 16px;
        --features-grid-gap: 25px;
        --features-grid-flow: row;
    }

    .hero {
        grid-template: "img-left img-right" 153px
                       "content content"    1fr /
                       1fr 1fr;
        row-gap: 48px;
    }

    .hero__image-left {
        grid-area: img-left;
    }

    .hero-content {
        grid-area: content;
        padding: 0 24px;
    }

    .hero-content-text {
        --flow-space: 24px;
    }

    .hero__image-right {
        grid-area: img-right;
    }

    .hero-content-buttons {
        flex-direction: column;
    }
}
